.h1{
  font-size: 16px;
}
.App{
  border: 3px solid black;
    width: 400px;
    height: 500px;
    border-radius: 88px;
    margin-left: 459px;
    margin-top: 37px;
}
.affiche button{
  width: 114px;
    height: 40px;
    border-radius: 6px;
    margin-top: 220px;
}
.h1 {
  font-size: 31px;
    position: absolute;
    margin-top: 133px;
    margin-left: 130px;
}
.temp{
  margin-left: 133px;
    margin-top: 184px;
    position: absolute;
    color: gray;
    font-size: 15px;
}
.b1{
  margin-left: 83px;
    margin-top: 295px;
    position: absolute;
}
.b2{
  margin-left: 221px;
    margin-top: 295px;
}

